In [10]:
from pyspark.sql.functions import udf,col
from pyspark.sql.types import DoubleType
from pyspark.sql import SparkSession
import re

spark=SparkSession.builder.appName("udf").getOrCreate()

df=spark.read.csv("saas.csv",header=True,inferSchema=True)

def convert_currency(val):
  if val in ["N/A","UNKNOWN","","NA"]:
    return None

  if val is None:
    return None
  val=val.replace("$","").strip()
  val = re.sub(r"\(.*?\)", "", val).strip()
  if val.endswith("B"):
    return float(val.replace("B","").strip())*1000000000
  elif val.endswith("M"):
    return float(val.replace("M","").strip())*1000000
  elif val.endswith("T"):
    return float(val.replace("T","").strip())*1000000000000
  elif val.endswith("K"):
    return float(val.replace("K","").strip())*1000
  else:
    return float(val)

convert_currency_udf = udf(convert_currency, DoubleType())

df=df.withColumn("Valuation_Num",convert_currency_udf(col("Valuation")))\
     .withColumn("ARR_Num",convert_currency_udf(col("ARR")))\
     .withColumn("Funding_Num",convert_currency_udf(col("Total Funding")))
df.show()

+------------+------------+--------------------+--------------------+-------------+------+-------------------+---------+--------------------+--------------------+---------+-------------+--------------------+--------------------+
|Company Name|Founded Year|                  HQ|            Industry|Total Funding|   ARR|          Valuation|Employees|       Top Investors|             Product|G2 Rating|Valuation_Num|             ARR_Num|         Funding_Num|
+------------+------------+--------------------+--------------------+-------------+------+-------------------+---------+--------------------+--------------------+---------+-------------+--------------------+--------------------+
|   Microsoft|        1975|    Redmond, WA, USA| Enterprise Software|          $1B| $270B|                $3T|  221,000|Bill Gates, Paul ...|Azure, Office 365...|      4.4|       3.0E12|              2.7E11|               1.0E9|
|  Salesforce|        1999|San Francisco, CA...|                 CRM|       $65.4M|$37.9B|            $227.8B|   75,000|Halsey Minor, Lar...|Sales Cloud, Serv...|      4.3|     2.278E11|             3.79E10| 6.540000000000001E7|
|       Adobe|        1982|   San Jose, CA, USA|   Creative Software|        $2.5M|$19.4B|              $240B|   29,945|   Hambrecht & Quist|Creative Cloud, D...|      4.5|       2.4E11|             1.94E10|           2500000.0|
|      Oracle|        1977|     Austin, TX, USA|Database & Enterp...|          $2K|$52.9B|              $350B|  143,000|Larry Ellison, Bo...|Oracle Cloud, Net...|      4.0|       3.5E11|             5.29E10|              2000.0|
|         SAP|        1972|   Walldorf, Germany| Enterprise Software|          N/A|$32.5B|              $215B|  107,415|Dietmar Hopp, Kla...|S/4HANA, SuccessF...|      4.1|      2.15E11|             3.25E10|                NULL|
|      Intuit|        1983|Mountain View, CA...|  Financial Software|        $273M|$14.4B|              $180B|   18,200|Sierra Ventures, ...|QuickBooks, TurboTax|      4.4|       1.8E11|             1.44E10|              2.73E8|
|  ServiceNow|        2004|Santa Clara, CA, USA|IT Service Manage...|       $82.5M| $8.9B|              $147B|   20,000|JMI Equity, Sequo...|IT Service Manage...|      4.4|      1.47E11|               8.9E9|              8.25E7|
|     Workday|        2005| Pleasanton, CA, USA|        HR & Finance|      $249.9M| $7.3B|               $65B|   18,800|Greylock Partners...|HCM, Financial Ma...|      4.2|       6.5E10|               7.3E9|             2.499E8|
|        Zoom|        2011|   San Jose, CA, USA|Video Communications|      $145.5M| $4.5B|               $85B|    7,388|Sequoia Capital, ...|Video Conferencin...|      4.5|       8.5E10|               4.5E9|             1.455E8|
|     Shopify|        2006|      Ottawa, Canada|          E-commerce|      $122.3M| $7.1B|               $95B|   11,600|Bessemer, FirstMa...| E-commerce Platform|      4.4|       9.5E10|               7.1E9|             1.223E8|
|   Atlassian|        2002|   Sydney, Australia|Collaboration Sof...|         $60M| $3.5B|               $55B|   11,800|      Accel Partners|Jira, Confluence,...|      4.3|       5.5E10|               3.5E9|               6.0E7|
|   Snowflake|        2012|    Bozeman, MT, USA|    Data Warehousing|        $1.4B| $2.8B|               $75B|    6,500|Sequoia, ICONIQ, ...| Cloud Data Platform|      4.4|       7.5E10|               2.8E9|               1.4E9|
|     HubSpot|        2006|  Cambridge, MA, USA|   Marketing & Sales|      $100.5M| $2.2B|               $32B|    7,600|General Catalyst,...|Marketing Hub, Sa...|      4.4|       3.2E10|               2.2E9|             1.005E8|
|    DocuSign|        2003|San Francisco, CA...|  Digital Agreements|      $514.3M| $2.5B|               $10B|    7,336|Kleiner Perkins, ...|eSignature, Contr...|      4.5|       1.0E10|               2.5E9|5.1429999999999994E8|
|       Slack|        2009|San Francisco, CA...|  Team Communication|        $1.4B| $1.7B|$27.7B (Salesforce)|    2,545|Accel, Andreessen...|Team Messaging Pl...|      4.5|      2.77E10|               1.7E9|               1.4E9|
|      Notion|        2013|San Francisco, CA...|        Productivity|        $353M| $400M|               $10B|      800|Index Ventures, S...|All-in-one workspace|      4.7|       1.0E10|               4.0E8|              3.53E8|
|     Datadog|        2010|   New York, NY, USA|Monitoring & Anal...|      $147.9M| $2.1B|               $44B|    5,200|ICONIQ, Index Ven...|Infrastructure Mo...|      4.4|       4.4E10|               2.1E9|             1.479E8|
|     MongoDB|        2007|   New York, NY, USA|            Database|      $311.2M| $1.7B|               $26B|    4,500|   Sequoia, NEA, USV|Document Database...|      4.5|       2.6E10|               1.7E9|             3.112E8|
|        Okta|        2009|San Francisco, CA...| Identity Management|      $230.5M| $2.2B|               $25B|    5,900|Andreessen Horowi...|Identity & Access...|      4.4|       2.5E10|               2.2E9|             2.305E8|
|      Twilio|        2008|San Francisco, CA...|      Communications|      $261.3M| $4.1B|               $12B|    7,867|Bessemer, Union S...| Communications APIs|      4.3|       1.2E10|4.0999999999999995E9|             2.613E8|
+------------+------------+--------------------+--------------------+-------------+------+-------------------+---------+--------------------+--------------------+---------+-------------+--------------------+--------------------+
only showing top 20 rows

In [14]:
from pyspark.sql.window import Window
from pyspark.sql.functions import rank,col

performers_window=Window.partitionBy("Industry").orderBy(col("Valuation_Num").desc())
ranked_df=df.withColumn("Rank",rank().over(performers_window)).filter(col("Rank")<=2)
ranked_df.select("Industry","Company Name","Valuation","Valuation_Num","Rank").show()

+--------------------+------------+--------------+-------------+--------------+
|            Industry|Company Name|     Valuation|Valuation_Num|Valuation_Rank|
+--------------------+------------+--------------+-------------+--------------+
|                 APM| AppDynamics| $3.7B (Cisco)|        3.7E9|             1|
|                BNPL|      Affirm|          $12B|       1.2E10|             1|
|Business Intellig...|      Looker|$2.6B (Google)|        2.6E9|             1|
|               CI/CD|    CircleCI|         $1.7B|        1.7E9|             1|
|                 CRM|  Salesforce|       $227.8B|     2.278E11|             1|
|        Card Issuing|     Marqeta|         $4.3B|        4.3E9|             1|
|      Cloud Security|     Zscaler|          $30B|       3.0E10|             1|
|      Cloud Security|    Netskope|         $7.5B|        7.5E9|             2|
|       Cloud Storage|     Dropbox|         $8.5B|        8.5E9|             1|
|       Cloud Storage|         Box|         $3.5B|        3.5E9|             2|
|       Collaboration|        Miro|        $17.5B|      1.75E10|             1|
|Collaboration Sof...|   Atlassian|          $55B|       5.5E10|             1|
|      Communications|      Twilio|          $12B|       1.2E10|             1|
|      Communications| RingCentral|           $5B|        5.0E9|             2|
|        Construction|     Procore|           $9B|        9.0E9|             1|
|      Contact Center|       Five9|           $8B|        8.0E9|             1|
|     Corporate Cards|        Brex|        $12.3B|      1.23E10|             1|
|   Creative Software|       Adobe|         $240B|       2.4E11|             1|
|       Customer Data|     Segment|$3.2B (Twilio)|        3.2E9|             1|
| Customer Engagement|       Braze|         $5.6B|        5.6E9|             1|
+--------------------+------------+--------------+-------------+--------------+
only showing top 20 rows

In [20]:
from pyspark.sql.window import Window
from pyspark.sql.functions import lag, col

arr_window=Window.partitionBy("Industry").orderBy(col("ARR_NUM").desc())

lag_df=df.withColumn("Previous_ARR",lag("ARR_NUM").over(arr_window))\
         .withColumn("ARR_difference",col("Previous_ARR")-col("ARR_NUM"))\
         .filter(col("ARR_difference")>1000000000)

lag_df.select("Industry","Company Name","ARR","ARR_Num","Previous_ARR","ARR_difference").show()

+-------------------+------------+------+-------+--------------------+--------------------+
|           Industry|Company Name|   ARR|ARR_Num|        Previous_ARR|      ARR_difference|
+-------------------+------------+------+-------+--------------------+--------------------+
|     Cloud Security|    Netskope| $500M|  5.0E8|               1.6E9|               1.1E9|
|      Cloud Storage|         Box|   $1B|  1.0E9|               2.5E9|               1.5E9|
|     Communications| RingCentral| $2.2B|  2.2E9|4.0999999999999995E9|1.8999999999999995E9|
|      Cybersecurity| CrowdStrike| $3.1B|  3.1E9|               7.5E9|               4.4E9|
|     Data Analytics|    Palantir| $2.2B|  2.2E9|               3.7E9|               1.5E9|
|           Database|       Redis| $100M|  1.0E8|               1.7E9|               1.6E9|
|             Design|       Figma| $600M|  6.0E8|               2.0E9|               1.4E9|
|Enterprise Software|         SAP|$32.5B|3.25E10|              2.7E11|            2.375E11|
|           Payments|      Stripe|  $14B| 1.4E10|             1.97E10|               5.7E9|
+-------------------+------------+------+-------+--------------------+--------------------+

In [21]:
from pyspark.sql.functions import col,when

df=df.withColumn("Rating",when(col("G2 Rating")>=4.7,"Excellent")\
                          .when((col("G2 Rating")>=4.3)& (col("G2 Rating")<4.7),"Very Good")\
                          .when((col("G2 Rating")>=4.0) & (col("G2 Rating")<4.3),"Good")\
                          .otherwise("Average")
              )

df.select("Company Name","G2 Rating","Rating").orderBy(col("G2 Rating")).show()

+------------+---------+---------+
|Company Name|G2 Rating|   Rating|
+------------+---------+---------+
|      Oracle|      4.0|     Good|
|    Palantir|      4.0|     Good|
|    SendGrid|      4.0|     Good|
|         SAP|      4.1|     Good|
|      Affirm|      4.1|     Good|
|      Square|      4.2|     Good|
|     Workday|      4.2|     Good|
|         Box|      4.2|     Good|
|  Sumo Logic|      4.2|     Good|
| RingCentral|      4.2|     Good|
|         Wix|      4.2|     Good|
|      Tanium|      4.2|     Good|
|ServiceTitan|      4.2|     Good|
|       Vimeo|      4.2|     Good|
|  Salesforce|      4.3|Very Good|
|   Atlassian|      4.3|Very Good|
|      Twilio|      4.3|Very Good|
|   Mailchimp|      4.3|Very Good|
|       Asana|      4.3|Very Good|
|     Zendesk|      4.3|Very Good|
+------------+---------+---------+
only showing top 20 rows

In [23]:
from pyspark.sql import Row

investor_tiers = spark.createDataFrame([
    ("Accel", "Tier 1"),
    ("Sequoia", "Tier 1"),
    ("Andreessen Horowitz", "Tier 1"),
    ("SoftBank", "Tier 2"),
    ("Lightspeed", "Tier 2"),
    ("Unknown", "Tier 3")
], ["Investor", "Tier"])

investor_tiers.show()

+-------------------+------+
|           Investor|  Tier|
+-------------------+------+
|              Accel|Tier 1|
|            Sequoia|Tier 1|
|Andreessen Horowitz|Tier 1|
|           SoftBank|Tier 2|
|         Lightspeed|Tier 2|
|            Unknown|Tier 3|
+-------------------+------+

In [36]:
from pyspark.sql.functions import split,col

df_new=df.withColumn("First_Investor",split(col("Top Investors"),",").getItem(0))

df_newjoin=df_new.join(investor_tiers,df_new["First_Investor"]==investor_tiers["Investor"],how="inner")\
              .filter(col("Tier").isin("Tier 1","Tier 2"))

df_newjoin.select("Company Name","First_Investor","Tier","Valuation").show()

+------------------+-------------------+------+--------------------+
|      Company Name|     First_Investor|  Tier|           Valuation|
+------------------+-------------------+------+--------------------+
|           Algolia|              Accel|Tier 1|               $2.3B|
|        Sumo Logic|              Accel|Tier 1|               $2.3B|
|           Segment|              Accel|Tier 1|      $3.2B (Twilio)|
|        Freshworks|              Accel|Tier 1|               $5.2B|
|             Slack|              Accel|Tier 1| $27.7B (Salesforce)|
|          Netskope|            Sequoia|Tier 1|               $7.5B|
|           Verkada|            Sequoia|Tier 1|               $3.2B|
|              Gong|            Sequoia|Tier 1|               $7.3B|
|         Qualtrics|            Sequoia|Tier 1|$12.5B (Silver Lake)|
|       RingCentral|            Sequoia|Tier 1|                 $5B|
|Palo Alto Networks|            Sequoia|Tier 1|                $95B|
|         Amplitude|            Sequoia|Tier 1|                 $4B|
|         Confluent|            Sequoia|Tier 1|               $9.1B|
|            UiPath|            Sequoia|Tier 1|                 $7B|
|           Dropbox|            Sequoia|Tier 1|               $8.5B|
|             Canva|            Sequoia|Tier 1|                $40B|
|            Stripe|            Sequoia|Tier 1|                $65B|
|           MongoDB|            Sequoia|Tier 1|                $26B|
|         Snowflake|            Sequoia|Tier 1|                $75B|
|            Tanium|Andreessen Horowitz|Tier 1|               $9.5B|
+------------------+-------------------+------+--------------------+
only showing top 20 rows

In [25]:
industry_medians = spark.createDataFrame([
    ("Enterprise Software", 150_000_000_000),
    ("CRM", 100_000_000_000),
    ("AI", 70_000_000_000),
    ("HRTech", 50_000_000_000),
], ["Industry", "Median_Valuation"])

industry_medians.show()

+-------------------+----------------+
|           Industry|Median_Valuation|
+-------------------+----------------+
|Enterprise Software|    150000000000|
|                CRM|    100000000000|
|                 AI|     70000000000|
|             HRTech|     50000000000|
+-------------------+----------------+

In [28]:
from pyspark.sql.functions import when

df_joined=df.join(industry_medians, on="Industry", how="left")

df_median=df_joined.withColumn("Valuation_position",
                               when (col("Valuation_Num") > col("Median_valuation"),"Above Median")\
                               .otherwise("Below Median")
                               )

df_median.select("Industry","Company Name","Valuation","Valuation_Num","Median_Valuation","Valuation_position").show()

+--------------------+------------+-------------------+-------------+----------------+------------------+
|            Industry|Company Name|          Valuation|Valuation_Num|Median_Valuation|Valuation_position|
+--------------------+------------+-------------------+-------------+----------------+------------------+
|Video Communications|        Zoom|               $85B|       8.5E10|            NULL|      Below Median|
|            Payments|      Stripe|               $65B|       6.5E10|            NULL|      Below Median|
|Collaboration Sof...|   Atlassian|               $55B|       5.5E10|            NULL|      Below Median|
|Database & Enterp...|      Oracle|              $350B|       3.5E11|            NULL|      Below Median|
|        HR & Finance|     Workday|               $65B|       6.5E10|            NULL|      Below Median|
|  Team Communication|       Slack|$27.7B (Salesforce)|      2.77E10|            NULL|      Below Median|
|   Creative Software|       Adobe|              $240B|       2.4E11|            NULL|      Below Median|
| Enterprise Software|   Microsoft|                $3T|       3.0E12|    150000000000|      Above Median|
| Enterprise Software|         SAP|              $215B|      2.15E11|    150000000000|      Above Median|
|      Communications|      Twilio|               $12B|       1.2E10|            NULL|      Below Median|
|          E-commerce|     Shopify|               $95B|       9.5E10|            NULL|      Below Median|
|        Productivity|      Notion|               $10B|       1.0E10|            NULL|      Below Median|
| Identity Management|        Okta|               $25B|       2.5E10|            NULL|      Below Median|
|  Digital Agreements|    DocuSign|               $10B|       1.0E10|            NULL|      Below Median|
|IT Service Manage...|  ServiceNow|              $147B|      1.47E11|            NULL|      Below Median|
|Monitoring & Anal...|     Datadog|               $44B|       4.4E10|            NULL|      Below Median|
|   Marketing & Sales|     HubSpot|               $32B|       3.2E10|            NULL|      Below Median|
|            Database|     MongoDB|               $26B|       2.6E10|            NULL|      Below Median|
|                 CRM|  Salesforce|            $227.8B|     2.278E11|    100000000000|      Above Median|
|    Data Warehousing|   Snowflake|               $75B|       7.5E10|            NULL|      Below Median|
+--------------------+------------+-------------------+-------------+----------------+------------------+
only showing top 20 rows