In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg,round

spark=SparkSession.builder.appName("TitanicSurvivalRate").getOrCreate()

df=spark.read.parquet("titanic.parquet")

df.createOrReplaceTempView("passengers")

result=spark.sql("""
       SELECT
        Pclass,
        Sex,
        ROUND(AVG(Survived), 2) AS SurvivalRate
    FROM passengers
    GROUP BY Pclass, Sex
    ORDER BY Pclass, SurvivalRate DESC
""")

result.show()

+------+------+------------+
|Pclass|   Sex|SurvivalRate|
+------+------+------------+
|     1|female|        0.97|
|     1|  male|        0.37|
|     2|female|        0.92|
|     2|  male|        0.16|
|     3|female|         0.5|
|     3|  male|        0.14|
+------+------+------------+

In [ ]:
import os

print("Current working directory:", os.getcwd())

Current working directory: /content

/content
['.config', 'titanic.parquet', 'sample_data']

In [ ]:
from pyspark.sql.functions import avg, round

result =  df.filter((df.Fare.isNotNull()) & (df.Age.isNotNull())).groupBy(
        "Embarked").agg(
        round(avg("Fare"), 2).alias("AvgFare"),
        round(avg("Age"), 2).alias("AvgAge")
    ).orderBy("AvgFare", ascending=False)

result.show()

+--------+-------+------+
|Embarked|AvgFare|AvgAge|
+--------+-------+------+
|    NULL|   80.0|  50.0|
|       C|   68.3| 30.81|
|       S|  27.48| 29.45|
|       Q|  18.27| 28.09|
+--------+-------+------+

In [ ]:
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [ ]:
result=df.filter(df.Survived==1).select("Name","PClass","Fare","Cabin").orderBy(df.Fare.desc()).limit(5)
result.show()

+--------------------+------+--------+-----------+
|                Name|PClass|    Fare|      Cabin|
+--------------------+------+--------+-----------+
|    Ward, Miss. Anna|     1|512.3292|       NULL|
|Cardeza, Mr. Thom...|     1|512.3292|B51 B53 B55|
|Lesurer, Mr. Gust...|     1|512.3292|       B101|
|Fortune, Miss. Ma...|     1|   263.0|C23 C25 C27|
|Fortune, Miss. Al...|     1|   263.0|C23 C25 C27|
+--------------------+------+--------+-----------+